<div class="container-fluid mt-3">
  <div class="text-summary">
    <div class="text-wrap text-justify">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id risus
        tellus. Etiam in lacus urna. Vivamus varius eleifend cursus. Aliquam
        bibendum metus ut urna pulvinar hendrerit sit amet id arcu. Praesent
        suscipit lorem id orci vehicula, sit amet placerat libero gravida.
        Praesent ut accumsan dui, et sollicitudin massa. Nullam cursus lectus
        eget nulla condimentum semper. Donec vitae congue est. Integer tristique
        at augue a vulputate. Sed eu fringilla lorem, eget gravida elit. Nulla
        pharetra non est eu imperdiet. Nam posuere cursus interdum. Aenean vel
        velit in diam cursus scelerisque. Vestibulum nulla lacus, faucibus id
        bibendum eu, auctor vel quam. Cras ullamcorper eleifend nunc id mattis.
        Fusce vulputate metus ornare odio tempus luctus.
      </p>

      <p>
        Integer imperdiet viverra est, at consectetur turpis pharetra eget.
        Curabitur ultricies leo quis nisl faucibus laoreet. Fusce malesuada
        hendrerit dolor, vitae bibendum ligula fringilla a. Etiam ultricies
        ligula condimentum, elementum turpis venenatis, lobortis nisi. Mauris ut
        lectus ut velit iaculis egestas. Vestibulum nulla ligula, volutpat ut
        tortor porta, egestas vestibulum sapien. Pellentesque ut elit placerat
        odio laoreet posuere eget id orci. Vestibulum nec elit leo. Aliquam
        placerat urna tortor, sit amet volutpat libero bibendum vitae. Aliquam
        ut dolor consequat, viverra est ac, facilisis sem. Donec egestas magna
        et faucibus ornare. Quisque venenatis nisl at ex elementum, sed accumsan
        justo rhoncus.
      </p>

      <p>
        Vestibulum cursus tincidunt tortor pellentesque hendrerit. Sed aliquam,
        dui eu pretium lacinia, lectus sem fringilla nisl, vel molestie sapien
        dolor at quam. Nunc vulputate tempor justo, quis convallis lorem
        ultricies quis. Sed convallis sem a mi fermentum euismod. Suspendisse
        egestas, leo feugiat elementum pretium, tortor massa malesuada nisl,
        vitae iaculis ipsum eros eu quam. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Nullam feugiat dolor sed mattis convallis.
      </p>

      <p>
        Nulla facilisi. Etiam id lorem ullamcorper, semper lorem consequat,
        posuere lacus. Suspendisse tempus arcu eget tellus vestibulum vulputate.
        Cras a turpis ut magna pellentesque volutpat. Sed egestas pretium eros a
        malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus lacus nunc, luctus ac nibh vel, rhoncus pretium mi. Ut congue
        elit id lobortis egestas. Fusce posuere interdum pretium. Pellentesque
        iaculis libero urna, nec tincidunt tortor condimentum eget. Aliquam
        placerat sapien mauris, ac varius ipsum tempor in. Mauris accumsan
        eleifend felis, eget rutrum nisl commodo eget. Praesent a tristique
        turpis. Proin mollis dignissim massa sed convallis. Nunc malesuada
        interdum elit, sit amet dapibus metus finibus in.
      </p>
      <p>
        In luctus massa eget sodales sagittis. Donec tempus blandit odio, vel
        ullamcorper felis mattis tincidunt. Nunc lacinia turpis et imperdiet
        pellentesque. Mauris sagittis risus eget massa laoreet vestibulum.
        Pellentesque nisl lectus, molestie vel neque vel, luctus egestas nisi.
        Donec condimentum sit amet magna ac vulputate. Nam lobortis vel arcu
        rhoncus imperdiet. Sed et ante leo. Phasellus hendrerit tortor sit amet
        diam pulvinar eleifend. Mauris ultrices, libero at malesuada tempor,
        neque lectus volutpat arcu, id porttitor nisi nulla vitae dui. Maecenas
        non elit dignissim, bibendum sapien sit amet, molestie urna. Fusce
        ornare sollicitudin placerat. In at tempus leo. Aliquam sit amet
        efficitur sem, ut luctus est.
      </p>
    </div>
  </div>
</div>
